page-inicio {

    .pageInicio{
		width: 44vh;
		height: 56vh;
		position: fixed;
		top: calc(80% - 22vh);
		left: calc(48% - 22vh);
		background-color:transparent;
	    font-style: normal;
	   
    }
    
    .scroll-content {
		//opacity: 0.;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		z-index: 1;
		display: block;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		will-change: scroll-position;
		contain: size style layout;
		background-image: url(../../assets/imgs/inicio_backgroundefeito.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 100%;
		width: 100%;
		position: absolute;
		
	}
}

.button-action {
	background-color: rgba(255, 255, 255, 0.72);
	border-color: #181835;
	font-weight: bolder;
	color: #2525d3;
}