<!--
  Generated template for the AgendarConsultaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="color-white">

  <ion-navbar>
    <ion-title>Agendar Consulta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="breadcumb" *ngIf="etapa !== 'data'">
    <span class="button-back" (click)="voltarEtapa()"> < Voltar etapa</span>
  </div>
  <form>
    <div *ngIf="etapa === 'data'">
      <div class="title-text">
        <span> Qual é o melhor dia para sua consulta? </span>
      </div>
      <div class="content-body">
        <span class="currentMonth"> {{ getMonth() }} </span>
          <calendar 
            [showEventDetail]="false"
            [currentDate]="model.data"
            [markDisabled]="markDisabled"
            (onCurrentDateChanged)="dateChange($event)"> 
          </calendar>
      </div>
      <button ion-button full class="next-button" [disabled]="!model.data || markDisabled(model.data)" (click)="nextEtapa('hora')">Avançar</button>      
    </div>
    <div *ngIf="etapa === 'hora'">
      <div class="title-text">
        <span> E qual é o melhor horário? </span>
      </div>
      <div class="content-body">
        <ion-row class="center"> 
          <ion-col> 
            <button ion-button color="dark" (click)="openSelect(selectManha)"> Manhã </button> 
          </ion-col>
          <ion-col> 
            <button ion-button color="dark"> Tarde </button>
          </ion-col>
          <ion-col> 
            <button ion-button color="dark"> Noite </button>
          </ion-col>
        </ion-row>
        <div class="title-text">
          <span> {{ model.horario | date: 'HH:mm' }} </span>
        </div>
        <ion-select style="display: none" #selectManha [(ngModel)]="model.horario" [ngModelOptions]="{standalone: true}">
          <ion-option *ngFor="let horario of horariosDisponiveisManha" 
          [value]="horario">{{ horario | date: 'HH:mm' }}</ion-option>
        </ion-select>
      </div>
      <button ion-button full class="next-button" [disabled]="!model.horario" (click)="nextEtapa('confirmacao')">Avançar</button>      
    </div>
  </form>
</ion-content>
